@{
  Layout = "_Layout";
}

@using MechanicManager.Models
@model MechanicManager.Models.Machine

<div class="row">
  <div class="col-5">
    <h4>Machine</h4>
    <p><strong>Model Name</strong>: @Html.DisplayFor(targetMachine => targetMachine.ModelName)</p>
  </div>
  <div class="col-7">
    <h4>Engineers Licensed For Repair</h4>
      @if(@Model.JoinEntities.Count == 0)
      {
        <p>This machine does not have any engineers listed as licensed for repair yet.</p>
      }
      else
      {
        <h4>This machine has the following engineers listed:</h4>
        <ul>
          @foreach(EngineerMachine joinEntry in Model.JoinEntities)
          {
            <li>Engineer: @joinEntry.Engineer.Name</li>
            @using (Html.BeginForm("DeleteJoin", "Machines"))
            {
              @Html.Hidden("joinId", @joinEntry.EngineerMachineId)
              <input type="submit" value="Delete"/>
            }
          }          
        </ul>
      }
  </div>  
</div>

<hr/>
<p>@Html.ActionLink("Add Engineer Licensed for Repair", "AddEngineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Edit Details", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Entry", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to Machines List", "Index")</p>
