@{
  Layout = "_Layout";
}

@model MechanicManager.Models.Engineer

<p>Add a machine this engineer is licensed to work on</p>
<div class="row">
  <div class="col-5">
    @if(@ViewBag.MachinesList.Count == 0)
    {
      <p class="text-danger">It appears the list of machines is empty. Add to the list of machines before attempting to assign an engineer to it.</p>
      <p>@Html.ActionLink("Add Machine to database", "Create", "Machines")</p>
    }
    else
    {
      @using (Html.BeginForm())
      {
        @Html.HiddenFor(entry => entry.EngineerId)
        @Html.Label("Select machine")
        @Html.DropDownList("MachineId")

        <input type="submit" value="Save" />
      }
    }
  </div>
</div>
<hr/>
<p>@Html.ActionLink("Back to Details", "Details", new { id = Model.EngineerId })</p>