@{
  Layout = "_Layout";
}

@using MechanicManager.Models
@model MechanicManager.Models.Engineer

<div class="row">
  <div class="col-5">
    <h4>Engineer</h4>
    <p><strong>@Html.DisplayNameFor(targetEngineer => targetEngineer.Name)</strong>: @Html.DisplayFor(targetEngineer => targetEngineer.Name)</p>
  </div>
  <div class="col-7">
    <h4>Machines Licensed to Repair</h4>
    @if(@Model.JoinEntities.Count == 0)
    {
      <p>This engineer does not have any machines listed as licensed to repair yet.</p>
    }
    else
    {
      <h4>This engineer has the following machines listed:</h4>
      <ul>
        @foreach(EngineerMachine joinEntry in Model.JoinEntities)
        {
          <li>Tag: @joinEntry.Machine.ModelName</li>
          @using (Html.BeginForm("DeleteJoin", "Machines"))
          {
            @Html.Hidden("joinId", @joinEntry.EngineerMachineId)
            <input type="submit" value="Delete"/>
          }
        }
      </ul>
    }
  </div>  
</div>

<hr/>
<p>@Html.ActionLink("Add Machine Licensed to Repair", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Edit Details", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Entry", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to Engineers List", "Index")</p>
