@{
  Layout = "_Layout";
}

@using MechanicManager.Models;

<div class="row">
  <div class="col-6">
    <h4>Engineers</h4>
    @if(Model["engineers"].Length == 0)
    {
      <p>No engineers have yet been added to the database.</p>
    }
    else
    {
      <table class="table table-hover">
        <tbody>
            @foreach(Engineer entry in Model["engineers"])
            {
              <tr class="table-dark">
                <td>@Html.ActionLink(@entry.Name, "Details", "Engineers", new { id = @entry.EngineerId })</td>
              </tr>
            }
        </tbody>
      </table>        
    }
  </div>
  <div class="col-6">
    <h4>Machines</h4>
    @if(Model["machines"].Length == 0)
    {
      <p>No machines have yet been added to the database.</p>
    }
    else
    {
      <table class="table table-hover">
        <tbody>
            @foreach(Machine entry in Model["machines"])
            {
              <tr class="table-dark">
                <td>@Html.ActionLink(@entry.ModelName, "Details", "Machines", new { id = @entry.MachineId })</td>
              </tr>
            }
        </tbody>
      </table>       
    }    
  </div>  
</div>